:root {
  --white: #fff;
  --white-transparent: rgba(255, 255, 255, 0.9);
  --black-transparent: rgba(0, 0, 0, 0.9);

  --w-25: #fafafa;
  --w-50: #f4f4f5;
  --w-75: #e4e4e7;
  --w-100: #d4d4d8;
  --w-200: #a1a1aa;
  --w-300: #71717a;
  --w-400: #52525b;
  --w-500: #3f3f46;
  --w-600: #27272a;
  --w-700: #202023;
  --w-800: #18181b;
  --w-900: #121212;

  --g-50: #fafafa;
  --g-100: #f4f4f5;
  --g-200: #e4e4e7;
  --g-300: #d4d4d8;
  --g-400: #a1a1aa;
  --g-500: #71717a;
  --g-600: #52525b;
  --g-700: #3f3f46;
  --g-800: #27272a;
  --g-900: #18181b;

  --y-50: #fafafa;
  --y-100: #f4f4f5;
  --y-200: #e4e4e7;
  --y-300: #d4d4d8;
  --y-400: #a1a1aa;
  --y-500: #71717a;
  --y-600: #52525b;
  --y-700: #3f3f46;
  --y-800: #27272a;
  --y-900: #18181b;

  --s-25: #fafafa;
  --s-50: #f4f4f5;
  --s-75: #e4e4e7;
  --s-100: #d4d4d8;
  --s-200: #a1a1aa;
  --s-300: #71717a;
  --s-400: #52525b;
  --s-500: #3f3f46;
  --s-600: #27272a;
  --s-700: #202023;
  --s-800: #18181b;
  --s-900: #121212;

  --b-50: #fafafa;
  --b-100: #f4f4f5;
  --b-200: #e4e4e7;
  --b-300: #d4d4d8;
  --b-400: #a1a1aa;
  --b-500: #71717a;
  --b-600: #52525b;
  --b-700: #3f3f46;
  --b-800: #27272a;
  --b-900: #18181b;

  --r-50: #fafafa;
  --r-100: #f4f4f5;
  --r-200: #e4e4e7;
  --r-300: #d4d4d8;
  --r-400: #a1a1aa;
  --r-500: #71717a;
  --r-600: #52525b;
  --r-700: #3f3f46;
  --r-800: #27272a;
  --r-900: #18181b;

  --v-50: #fafafa;
  --v-100: #f4f4f5;
  --v-200: #e4e4e7;
  --v-300: #d4d4d8;
  --v-400: #a1a1aa;
  --v-500: #71717a;
  --v-600: #52525b;
  --v-700: #3f3f46;
  --v-800: #27272a;
  --v-900: #18181b;

  // Common color aliases
  --color-woot: var(--w-500);

  --color-heading: #1f2d3d;
  --color-body: #3c4858;

  --color-border: var(--s-75);
  --color-border-light: var(--s-50);
  --color-border-dark: var(--s-100);

  --color-background: var(--s-50);
  --color-background-light: var(--s-25);

  // Social and inboxes brand colors
  --color-facebook-brand: #3b5998;
  --color-twitter-brand: #1da1f2;
  --color-whatsapp-brand: #25d366;
  --color-sms-twilio: #f42f46;
  --color-cloud-generic: #18b7b0;

  // Tech-debt
  --color-medium-gray: #8492a6;
}
